/**
 * Style sheet buon
 */
body
{
	margin-top:0px;
	text-align:left;
	vertical-align:top;
	background-color:#F0EED7;
	font-family:verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:10px;
	color:#000000;
	font:verdana, Arial, Helvetica, sans-serif;
}

h4, h5, h6
{
	font-family:verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#565656;
}

h1
{
	line-height:90%;
	font-weight:bold;
	text-decoration:none;
	font-size:11px;
	color:#92924A;
}

h2
{
	line-height:90%;
	font-weight:bold;
	text-decoration:none;
	font-size:11px;
	color:#BCB55A;
}
h3
{
	margin:0px;
	padding:2px 2px 2px 0px;
	text-align:left;
	font-weight:bold;
	font-size:11px;
	color:#A65B34;
	font:verdana, Arial, Helvetica, sans-serif;
}
a
{
	font-family:verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#92BB41;
}

a:link
{
	text-decoration:none;
	color:#92BB41;
}

a:visited
{
	text-decoration:none;
	color:#92BB41;
}

a:hover
{
	text-decoration:underline;
	color:#95482C;
}

a:active
{
	text-decoration:none;
	color:#92BB41;
}
.footersl
{
	background-image:url("../../images/img_21.jpg");
	background-position:center center;
	background-repeat:no-repeat;
width:897;
 height:34;

}

.novost2
{
padding-left: 5px;

	display:inline;
float: left;
width: 270px;
border-right:1px dotted #C5D0EE;
}

.novost
{
padding-left: 20px;
padding-right: 5px;
	display:inline;
float: left;
width: 275px;
}

.style5
{
	font-family:verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#92924A;
	}

.pozadina
{
	width:100%;
	height:100%;
	background-image:url("../../images/nazad.jpg");
	background-position:top center;
	background-repeat:no-repeat;
}
.player
{
margin-left:45px;
margin-bottom:25px;
margin-top:20px;
}
.more a

{	font-family:verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:9px;
	color:#C2A219;}
.stil2 {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-weight: bold;
}
.style3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
}
.stil4 {
	color: #FFFFFF;
	font-size: 10px;
}
.stile5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #EB5CA0;
	font-size: 12px;
}
.stil6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.stil12 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #333333; }

ul { list-style-image: url("../../images/55.gif") }
.headergore
{
	width:780px;
	height:178px;
	background-image:url("images/img_04.jpg");
	background-repeat:no-repeat;
}

.kolona1 {
	background-image:url("../../images/img_12.jpg");
	background-repeat: repeat-y;
	width: 14px;
}

.kolona2 {
	background-image:url("../../images/img_15.jpg");
	background-repeat: repeat-y;
	width: 14px;
}
.footerdole
{
	width:780px;
	height:60px;
	background-image:url("images/img_18.jpg");
}

.nav1lijevo
{
	width:192px;
	height:138px;
	background-image:url("images/nav1_11.jpg");
	background-position:center bottom;
	background-repeat:no-repeat;
}

.navlijevo2
{
	width:192px;
	height:138px;
	background-image:url("images/nav3_11.jpg");
	background-position:center bottom;
	background-repeat:no-repeat;
}

.navlijevo3
{
	width:192px;
	height:81px;
	background-image:url("images/nav4_11.jpg");
	background-position:center bottom;
	background-repeat:no-repeat;
}

.space2
{
	width:3px;
}

.style1
{
	margin-left:5px;
	padding:5px;
	color:#FFFFFF;
}
.linijan
{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFCC00;
}

.style2
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:10px;
	color:#FFFFFF;
}

.ce_accordion
{
	margin-left:16px;
}

.toggler
{
	padding:1px 0px 2px 0px;
}

.toggler_first
{
	color:#263A59;
}

:hover.toggler_first
{
	text-decoration:underline;
	color:#263A59;
	cursor:hand;
	cursor:pointer;
}

.accordion div
{
	padding:6px 0px 8px 15px;
	line-height:16px;
}

.ce_list ul
{
	margin:0px;
	padding:0px;
}

.ce_list li
{
	margin:0px 0px 0px 22px;
	padding:0px;
	line-height:16px;
}

* html .ce_list li
{
	margin-left:26px;
}

*:first-child+html .ce_list li
{
	margin-left:26px;
}

input.submit
{
	width:60px;
	height:17px;
	position:relative;
	margin-top:2px;
	margin-bottom:2px;
	padding-bottom:2px;
	padding-left:2px;
	text-align:center;
	vertical-align:middle;
	background-color:#AAA64D;
	border:1px solid #9C9E53;
	font-family:verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:10px;
	color:#ffffff;
	line-height:12px;
}

input.submit:hover
{
	background-image:url("../images/bg5.jpg");
	background-repeat:repeat-x;
}

input.text
{
	width:90px;
	height:14px;
	position:relative;
	margin:0px 0px 2px 0px;
	text-align:left;
	vertical-align:middle;
	background-color:#F3F2E0;
	background-position:center center;
	border:1px solid #9C9E53;
	font-family:verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:10px;
	line-height:14px;
}

.mod_navigation
{
	position:relative;
}

.navigator
{
	margin-right:5px;
	margin-bottom:12px;
	padding-top:4px;
	text-align:right;
	border-top:1px solid #C5D0EE;
}

.navigator p
{
	margin-bottom:2px;
}

.pagination li
{
	display:inline;
	margin:0px;
	padding:0px;
}

.pagination
{
	margin-top:22px;
	padding-top:4px;
	border-top:1px solid #C5D0EE;
}

.pagination p
{
	width:160px;
	float:left;
	padding-right:3px;
	padding-left:3px;
	text-align:left;
}

.pagination ul
{
	width:240px;
	float:right;
	margin:0px;
	padding:0px 3px;
	text-align:right;
}


.layout_simple
{
	border-bottom: dashed 1px #E1E1E1;
padding: 2px;


}
.layout_simple a
{
	margin:4px;
padding-left: 12px;
	color:#CACACA;
background-image: url("../../images/ispred.gif");
	background-repeat: no-repeat;
	background-position: left center;

}

.layout_simple a
{
	font-weight:bold;
	color:#B6A32A;
}

.teaser2
{
	margin:4px;
	color:#424242;
}

.mod_article
{
	margin-right:5px;
	margin-left:5px;
}

.mod_search
{
	margin-top:5px;
	margin-bottom:5px;
	font-weight:normal;
	color:#4A4A4A;
}

.mod_search a
{
	margin-bottom:12px;
	font-weight:bold;
	font-size:10px;
	color:#8E353B;
}

.mod_search .text
{
	width:95px;
}

html>body .mod_search .radio_container
{
	margin-top:3px;
}

*:first-child+html .mod_search .radio_container
{
	margin-top:0px;
}

.mod_search .radio_container label
{
	left:-2px;
	top:-2px;
	position:relative;
	padding-right:3px;
}

.mod_search .header
{
	margin-top:10px;
	margin-right:5px;
	margin-bottom:5px;
	padding-bottom:4px;
	text-align:right;

}

.mod_search h3
{
	margin:0px 0px 2px 0px;
	padding:0px;
}

.mod_search .context
{
	margin:0px 5px 3px 0px;
}

.mod_search .url
{
	margin-bottom:12px;
	font-weight:bold;
	font-size:10px;
	color:#8E353B;
}

.mod_search .relevance
{
	font-weight:bold;
	font-size:10px;
	color:#ADABAC;
}

.mod_search .highlight
{
	font-weight:bold;
	font-size:10px;
	color:#A43345;
}

.ce_text
{
	margin:5px;
	padding:2px;
	font-family:verdana;
	font-weight:normal;
	font-size:10px;
	color:#2F2F2F;
	line-height:16px;
}

.ce_text a
{
	font-family:verdana;
	font-weight:normal;
	font-size:10px;
	color:#97BA44;
}

.ce_text h1
{
	margin:0px;
	padding:2px 2px 2px 0px;
	text-align:left;
	font-weight:bold;
	font-size:11px;
	color:#BCB55A;
	font:verdana, Arial, Helvetica, sans-serif;
}

.ce_text h2
{
	margin:0px;
	padding:2px 2px 2px 0px;
	text-align:left;
	font-weight:bold;
	font-size:11px;
	color:#A65B34;
	font:verdana, Arial, Helvetica, sans-serif;
}
.teaser
{
	width:100%;
	height:50px;
	font-family:verdana;
	font-weight:normal;
	font-size:10px;
}

.pismo {
	background-image: url("../../images/pismo.jpg");
	background-repeat: no-repeat;
	height: 103px;
	width: 250px;
}

.lupa {
	background-image: url("../../images/lupa.jpg");
	background-repeat: no-repeat;
	height: 103px;
	width: 250px;
}
.error
{
	margin:0px;
	padding:2px 0px 0px 0px;
	font-size:9px;
	color:#ff0000;
}

.ce_gallery block, .caption
{
	border:3px solid #009999;
}

.mod_article
{
	margin-bottom:8px;
	padding:2px;
	text-align:right;
}

.pdf_link
{
	margin-bottom:0px;
	padding:2px;
	text-align:right;
}

.pdf_link a
{
	top:2px;
	position:relative;
	padding:2px 18px 2px 2px;
	background-image:url("../../images/printer.gif");
	background-position:right bottom;
	background-repeat:no-repeat;
	text-decoration:none;
}

.mod_article
{
	top:2px;
	position:relative;
	padding:2px;
	text-decoration:none;
}

.mod_article .pdf_link a:hover
{
	text-decoration:none;
}

.mod_form
{
	width:167px;
	top:0px;
	bottom:5px;
	margin:5px;
	padding:5px;
	text-align:left;
}

.stil1
{
	width:279px;
	height:120px;
	position:relative;
	float:left;
	text-align:left;
	vertical-align:top;
	border-bottom:1px solid #cccccc;
}

.stil2
{
	margin-right:5px;
}

.fg img
{
	float:left;
}

.radio_container span
{
	display:block;
	padding:5px;
}

.radio_container input
{
	margin-bottom:-3px;
}

div.mod_navigation ul
{
	margin:0px;
	padding:0px;
}

div.mod_navigation li
{
	width:160px;
	float:left;
	margin:0px;
	padding:0px;
	text-align:center;
	font-family:verdana;
	font-weight:bold;
	font-size:10px;
}

div.mod_navigation p
{
	height:1.7em;
	display:block;
	margin:0px;
	padding:0px 7px 0px 20px;
	background-color:#BEBDBE;
	text-decoration:none;
	font-size:100%;
	color:#rgb(25;
	line-height:1.7em;
	min-height: 1.7em;
	height: auto !important;
}

div.mod_navigation a, div.mod_navigation a:active, div.mod_navigation a:visited, div.mod_navigation a:link
{
	height:17px;
	display:block;
	margin:0px;
	padding:2px 0px 0px 15px;
	text-align:left;
	font-weight:bold;
	text-decoration:none;
	font-size:10px;
	color:#4b4b4b;
}

div.mod_navigation a:hover
{
	color:#646464;
}

div.mod_navigation p
{
	height:17px;
	margin:0px;
	padding:0px 0px 0px 14px;
	text-align:left;
}

a.invisible
{
	clear:both;
}

h1
{
	font-size:12px;
	color:#BCB55A;
}

.divreadmore
{
	top:20px;
	position:relative;

}
.linkovi
{
	margin-top:12px;
	margin-bottom:12px;
	border:1px solid #0C4678;
}
.ce_headline
{
	margin-top:12px;
}

.back
{
	width:60px;
	height:15px;
	padding-bottom:2px;
	text-align:center;
	vertical-align:middle;
	background-image:url("../images/bg6.jpg");
	background-position:center center;
	background-repeat:repeat-x;
	font-family:verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:10px;

	color:#fefcee;
	line-height:11px;
}

.back a
{
	font-weight:bold;
	text-decoration:none;
	font-size:10px;
	color:#983A32;
}

.back a:hover
{
	font-weight:bold;
	text-decoration:none;
	font-size:10px;
	color:#F4B89C;
}

.nav3
{
	width:160px;
	overflow:hidden;
	float:left;
	clear:both;
	margin:0px;
	padding:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8px;
	color:#993300;
	min-height: 500px;
}

.nav3 ul
{
	width:160px;
	margin:0px 0px 20px 0px;
	padding:0px;
}

.nav3 li
{
	margin:0px;
	padding:0px;
	list-style: none;
}

/* Changes color of main title USER MENU on left navigation */
.nav3 li.title
{
	margin:0px;
	padding:3px 5px 2px 15px;
	background-color:#70161A;
	font-weight:bold;
	font-size:120%;
	color:#rgb(25;
	text-transform: uppercase;
}

/* Changes color on left navigation of deep background */
.nav3 li.group a
{
	height:1.7em;
	display:block;
	margin:0px;
	padding:0px 7px 0px 15px;
	font-weight:bold;
	font-size:120%;
	color:#rgb(75;
	line-height:1.7em;
	min-height: 1.7em;
	height: auto !important;
}
.nav3 li a
{
	height:1.7em;
	display:block;
	margin:0px;
	padding:0px 7px 0px 20px;
	text-decoration:none;
	font-size:120%;
	color:#rgb(75;
	line-height:1.7em;
	min-height: 1.7em;
	height: auto !important;
}

/* Changes color to left of navigation when selection is hovered */
.nav3 li a:hover, .nav3 li a.selected
{
	background-color:#CDC9CA;
	text-decoration:none;
	color:#rgb(17;
}

.ce_list
{
	margin:1px;
	padding:5px;
	background-color:#FFF0F0;
	border:1px solid #FFAEAE;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:10px;
	color:#75191C;
	list-style-type:square;
	list-style-image:url("../../images/arrow.gif");
	text-transform: none;
	text-indent: 1px;
	list-style-position: inside;
}

.ce_list h1
{
	margin:0px;
	padding:2px 2px 3px 2px;
	background-color:#FFD7D7;
	font-weight:bold;
	font-size:11px;
	color:#565656;
	font:verdana, Arial, Helvetica, sans-serif;
}

.ce_gallery
{
	margin:2px;
	padding:2px;
	background-color:#F5F5F5;
	border:1px solid #9D9B9C;
	font-family:verdana;
	font-weight:normal;
	font-size:10px;
	color:#4B4B4B;
	line-height:16px;
}

.ce_gallery h1
{
	margin:0px;
	padding-right:15px;
	padding-left:2px;
	background-color:#9E9C9D;
	background-image:url("../images/down.gif");
	background-position:right center;
	background-repeat:no-repeat;
	font-weight:bold;
	font-size:11px;
	color:#ffffff;
	font:verdana, Arial, Helvetica, sans-serif;
}

.ce_form
{
	margin:4px 2px 5px 2px;
	padding:5px;
	background-color:#FFF9F9;
	border:1px solid #FFAEAE;
	font-family:verdana;
	font-weight:normal;
	font-size:10px;
	color:#4B4B4B;
	line-height:16px;
}

.dugme
{
	width:60px;
	height:16px;
	position:relative;
	margin-top:2px;
	margin-bottom:2px;
	padding-bottom:2px;
	padding-left:2px;
	text-align:center;
	vertical-align:middle;
	background-color:#AFABAA;
	border:1px solid #9C9A9B;
	font-family:verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:10px;
	color:#ffffff;
	line-height:12px;
}

.dugme:hover
{
	background-image:url("../images/bg5.jpg");
	background-repeat:repeat-x;
}

.dugmemenu
{
	width:60px;
	height:16px;
	position:relative;
	margin-top:2px;
	margin-bottom:2px;
	padding-bottom:2px;
	padding-left:2px;
	text-align:center;
	vertical-align:middle;
	background-color:#ADA9A8;
	border:1px solid #9C9A9B;
	font-family:verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:10px;
	color:#ffffff;
	line-height:12px;
}

